Let's try to load the query logs

In [1]:
import pandas as pd
import numpy as np
import datetime as dt
from os import path

In [2]:
# steps to create a unified logs file.
def create_unified_log():
    if (not path.exists('data/logs.csv')):
        logs1 = pd.read_csv('data/logs/Clean-Data-01.txt', sep='\t')
        logs2 = pd.read_csv('data/logs/Clean-Data-02.txt', sep='\t')
        logs3 = pd.read_csv('data/logs/Clean-Data-03.txt', sep='\t')
        logs4 = pd.read_csv('data/logs/Clean-Data-04.txt', sep='\t')
        logs5 = pd.read_csv('data/logs/Clean-Data-05.txt', sep='\t')
        frames = [logs1, logs2, logs3, logs4, logs5]
        logs = pd.concat(frames) 
        # AnonID is not a unique column, so it would not be a good idea to make it an index
        #logs['AnonID'].nunique() #238,544
        #len(logs['AnonID']) # 394,2354

        # let's save it to a csv file
        logs.to_csv('data/logs.csv', index=False)
create_unified_log()

In [3]:
logs = pd.read_csv('data/logs.csv')
logs['Query'] = logs['Query'].str.strip()
logs = logs.rename(columns={'AnonID': 'UserId'})
logs.head()
# 3,942,354 queries

   UserId                     Query            QueryTime
0     142  merit release appearance  2006-04-22 23:51:18
1     217                   lottery  2006-03-01 11:58:51
2     217                   lottery  2006-03-27 14:10:38
3     217                   vietnam  2006-05-22 17:43:42
4     217                   vietnam  2006-05-22 18:03:24

In [4]:
# set the maximum frequency of occurrence of any query in QL
#logs.groupby('Query').count()[['Id']].sort_values('Id', ascending=False)
# the query google has the max frecuency, which is 83677
#logs.groupby('Query').count()[['Id']].sort_values('Id', ascending=False) #.iloc(0)[0][0]
#max_frequency = logs.groupby('Query').count()[['Id']].sort_values('Id', ascending=False).iloc(0)[0][0]
max_frequency = 83677 # hard code it to improve performance

In [14]:
# set query
query = 'google'

In [72]:
# gets a subset from the query
#query_filters = logs[(logs['Query'].str.startswith(query, na=False)) & (logs['Query'].str.len() > len(query) - 1)]
query_base_candidates = logs[logs['Query'] == query]

#query_no_duplicates = query_filters.drop_duplicates(subset='Query').sort_values('Query')
##len(query_no_duplicates['Query'].unique())
#number_sessions_for_query = len(query_no_duplicates)
#query_no_duplicates
query_base_candidates

           UserId   Query            QueryTime
38           1410  google  2006-05-01 21:40:54
39           2005  google  2006-03-24 21:25:10
49           2178  google  2006-03-27 20:58:44
55           2178  google  2006-04-11 11:06:20
68           2178  google  2006-05-16 10:54:39
87           2421  google  2006-05-04 15:39:25
90           2421  google  2006-05-04 21:14:33
91           2421  google  2006-05-05 16:16:01
146          2722  google  2006-04-12 15:18:12
195          2722  google  2006-05-02 09:09:19
256          2722  google  2006-05-25 15:42:26
804          6497  google  2006-04-06 22:47:10
807          6497  google  2006-04-06 23:05:58
1776         9777  google  2006-03-11 23:25:57
1787         9844  google  2006-03-19 10:31:09
1979        12404  google  2006-03-04 00:42:26
1984        12404  google  2006-03-13 21:17:22
1988        12404  google  2006-03-22 16:57:44
1990        12404  google  2006-03-23 22:07:33
1993        12404  google  2006-04-02 13:13:36
2004        12404  google  2006-05-12 01:02:37
2007        12404  google  2006-05-21 17:21:00
2079        13379  google  2006-03-16 22:45:02
2342        15198  google  2006-04-10 17:52:02
2350        15198  google  2006-04-25 17:17:51
2359        15198  google  2006-05-14 00:03:51
2709        20072  google  2006-05-27 20:38:50
2903        24687  google  2006-03-19 17:21:29
2905        24687  google  2006-03-20 18:28:33
3125        29859  google  2006-03-01 21:34:07
...           ...     ...                  ...
3941283  24541610  google  2006-05-25 19:45:40
3941313  24547814  google  2006-05-25 10:02:57
3941333  24554117  google  2006-05-29 15:07:15
3941345  24555440  google  2006-05-25 15:11:54
3941407  24569195  google  2006-05-25 19:47:26
3941526  24594730  google  2006-05-26 18:51:34
3941616  24615281  google  2006-05-26 12:27:32
3941623  24622235  google  2006-05-27 07:06:55
3941661  24640255  google  2006-05-27 11:30:09
3941731  24665687  google  2006-05-28 21:07:39
3941732  24665687  google  2006-05-29 00:37:57
3941751  24671192  google  2006-05-27 07:03:07
3941813  24691533  google  2006-05-30 14:31:31
3941814  24691533  google  2006-05-31 10:53:57
3941918  24734146  google  2006-05-28 12:39:36
3941933  24743304  google  2006-05-29 00:53:29
3941965  24753627  google  2006-05-28 21:20:40
3941984  24758857  google  2006-05-28 18:54:05
3941985  24758857  google  2006-05-28 19:19:41
3942022  24769176  google  2006-05-29 16:50:39
3942068  24795829  google  2006-05-29 22:01:25
3942075  24799328  google  2006-05-30 20:44:09
3942082  24803235  google  2006-05-29 13:54:27
3942103  24816596  google  2006-05-29 11:09:35
3942119  24832516  google  2006-05-29 14:07:14
3942270  24903085  google  2006-05-30 16:09:46
3942271  24903085  google  2006-05-30 16:10:56
3942272  24903085  google  2006-05-30 16:11:40
3942308  24939751  google  2006-05-31 19:01:52
3942327  24950004  google  2006-05-31 20:56:12

[83677 rows x 3 columns]

In [73]:
# Get query candidates for suggestions, the ones which in the same session changed from query text to query text + something else
#i = 0
#candidates_counter = {}
arr_candidate_queries = []
count = 0
# loop through query_base_candidates to get the real candidates 
for index, row in query_base_candidates.iterrows():
    user_id = row[0]
    query = row[1]
    current_index = index + 1
    current_user_id = logs.loc[current_index, 'UserId']
    has_next = False
    is_invalid = False
    while (user_id == current_user_id):
        # check for current query text 
        current_query = logs.loc[current_index, 'Query']
        if (not pd.isna(current_query) and not current_query.startswith(query)):
            is_invalid = True
            break
        if (not pd.isna(current_query) and current_query.startswith(query) and len(current_query) > len(query)):
            has_next = True
        # move to next row    
        current_index += 1
        current_user_id = logs.loc[current_index, 'UserId']
    
    if (has_next and is_invalid == False):
        # process current_index - 1
        current_index -= 1
        current_query = logs.loc[current_index, 'Query']
        if (not pd.isna(current_query) and current_query.startswith(query) and len(current_query) > len(query)):
            count += 1
            arr_candidate_queries.append(logs.loc[current_index])
            #if (current_query in candidates_counter):
            #    candidates_counter[current_query] += 1
            #else:
            #    candidates_counter[current_query] = 1          
#    print(row[0])
#    print(logs.loc[index, 'UserId'])
#    i += 1
#    if (i == 10): break
#        if (isinstance(current_query, float)):
#            print(logs.loc[current_index])
#print(count)
#print(candidate_queries)
candidate_queries = pd.DataFrame(arr_candidate_queries)
candidate_queries

           UserId                                   Query            QueryTime
21635      222187                           google search  2006-04-02 10:42:58
30747      324779         google information about people  2006-05-09 20:48:31
49868      533611                         google zip code  2006-05-30 21:55:10
146535    1654628                           google search  2006-05-18 01:43:35
328367    3678892                             google maps  2006-03-27 20:27:41
334802    3807683                           google images  2006-05-19 15:12:39
374973    4539882           google better business bureau  2006-05-16 22:42:00
397458    4977135                      google white pages  2006-03-02 15:56:16
406599    5134637                          google toolbar  2006-04-23 19:14:47
452099    6094698                    google search engine  2006-05-23 18:48:02
452099    6094698                    google search engine  2006-05-23 18:48:02
452099    6094698                    google search engine  2006-05-23 18:48:02
452099    6094698                    google search engine  2006-05-23 18:48:02
483718    6879365                             google maps  2006-05-24 17:39:41
561393    9171999                           google search  2006-03-18 12:37:49
621044   11597025                          google toolbar  2006-03-25 14:16:46
677957   14862064                         google airlines  2006-03-14 17:22:04
677957   14862064                         google airlines  2006-03-14 17:22:04
689315   15672402                 google find this person  2006-03-31 09:11:16
689562   15692775           google graph satellite images  2006-05-13 15:50:58
693869   16041727                            google earth  2006-05-06 21:16:41
719178   18198048                      google fundraisers  2006-04-28 13:53:50
719178   18198048                      google fundraisers  2006-04-28 13:53:50
719178   18198048                      google fundraisers  2006-04-28 13:53:50
719178   18198048                      google fundraisers  2006-04-28 13:53:50
734923   20517981                           google crafts  2006-04-14 22:40:08
745327   22276418                            google image  2006-05-10 00:14:05
745422   22297289                    google screen savers  2006-05-27 20:49:20
761489   24736405                        google home page  2006-05-28 19:50:21
1015258   2800720                              google map  2006-05-18 10:31:06
...           ...                                     ...                  ...
2881410   8413275                           google search  2006-04-24 20:04:02
2962748  11355834                    google rose cuttings  2006-05-27 14:59:44
2962748  11355834                    google rose cuttings  2006-05-27 14:59:44
2962748  11355834                    google rose cuttings  2006-05-27 14:59:44
2962748  11355834                    google rose cuttings  2006-05-27 14:59:44
3001146  13263098                            google video  2006-05-28 13:41:42
3011786  13897025  google kentucky fried chicken coleslaw  2006-04-17 19:17:05
3011786  13897025  google kentucky fried chicken coleslaw  2006-04-17 19:17:05
3045140  16395379                            google earth  2006-04-02 15:29:53
3048985  16734384                     google yellow pages  2006-04-07 12:41:05
3060198  17705824                             google moon  2006-03-30 21:25:22
3083883  20926995                           google search  2006-04-21 11:18:11
3100526  23302950                           google search  2006-05-08 00:37:35
3257184    848662                           google search  2006-05-28 12:24:16
3322865   1586319                        google home page  2006-05-29 16:40:59
3345059   1860516                           google images  2006-05-30 14:01:07
3350712   1925431                             google maps  2006-05-30 10:06:43
3428329   2860957                           google search  2006-05-27 08:25:56
3435880   2950786         google free nursing information  2006-05-30 23:48:57
3496039   3620792                            google earth  2006-04-04 20:10:31
3613813   5710093                           google search  2006-04-23 20:07:56
3779912  10539886                                 googles  2006-05-16 14:21:40
3779912  10539886                                 googles  2006-05-16 14:21:40
3799230  11427203               google mail theft penalty  2006-05-23 12:53:52
3814881  12190957                             google mail  2006-04-10 09:00:30
3814881  12190957                             google mail  2006-04-10 09:00:30
3877370  16348185                            google earth  2006-05-08 18:48:37
3880248  16582516                        google car parts  2006-05-24 23:07:18
3903788  18888422          google science kids oil spills  2006-05-23 15:01:25
3919196  21160280                           google search  2006-05-30 20:54:55

[108 rows x 3 columns]

In [74]:
# set the frequency - 𝐹𝑟𝑒𝑞(𝐶𝑄)
query_counts = logs[logs['Query'].isin(candidate_queries['Query'])].groupby('Query')['Query'].count()
query_results = candidate_queries.join(query_counts, on='Query', lsuffix='_text')
query_results = query_results.rename(columns={'Query': 'Count', 'Query_text': 'Query'})
query_results['Freq'] = query_results['Count'] / max_frequency
query_results

,UserId,Query,QueryTime,Count,Freq
21635,222187,google search,2006-04-02 10:42:58,939,0.011222
30747,324779,google information about people,2006-05-09 20:48:31,1,0.000012
49868,533611,google zip code,2006-05-30 21:55:10,1,0.000012
146535,1654628,google search,2006-05-18 01:43:35,939,0.011222
328367,3678892,google maps,2006-03-27 20:27:41,634,0.007577
334802,3807683,google images,2006-05-19 15:12:39,310,0.003705
374973,4539882,google better business bureau,2006-05-16 22:42:00,2,0.000024
397458,4977135,google white pages,2006-03-02 15:56:16,18,0.000215
406599,5134637,google toolbar,2006-04-23 19:14:47,18,0.000215
452099,6094698,google search engine,2006-05-23 18:48:02,43,0.000514
452099,6094698,google search engine,2006-05-23 18:48:02,43,0.000514
452099,6094698,google search engine,2006-05-23 18:48:02,43,0.000514
452099,6094698,google search engine,2006-05-23 18:48:02,43,0.000514
483718,6879365,google maps,2006-05-24 17:39:41,634,0.007577
561393,9171999,google search,2006-03-18 12:37:49,939,0.011222
621044,11597025,google toolbar,2006-03-25 14:16:46,18,0.000215
677957,14862064,google airlines,2006-03-14 17:22:04,1,0.000012
677957,14862064,google airlines,2006-03-14 17:22:04,1,0.000012
689315,15672402,google find this person,2006-03-31 09:11:16,2,0.000024
689562,15692775,google graph satellite images,2006-05-13 15:50:58,1,0.000012
693869,16041727,google earth,2006-05-06 21:16:41,1317,0.015739
719178,18198048,google fundraisers,2006-04-28 13:53:50,1,0.000012
719178,18198048,google fundraisers,2006-04-28 13:53:50,1,0.000012
719178,18198048,google fundraisers,2006-04-28 13:53:50,1,0.000012
719178,18198048,google fundraisers,2006-04-28 13:53:50,1,0.000012
734923,20517981,google crafts,2006-04-14 22:40:08,1,0.000012
745327,22276418,google image,2006-05-10 00:14:05,99,0.001183
745422,22297289,google screen savers,2006-05-27 20:49:20,1,0.000012
761489,24736405,google home page,2006-05-28 19:50:21,9,0.000108
1015258,2800720,google map,2006-05-18 10:31:06,239,0.002856
...,...,...,...,...,...
2881410,8413275,google search,2006-04-24 20:04:02,939,0.011222
2962748,11355834,google rose cuttings,2006-05-27 14:59:44,1,0.000012
2962748,11355834,google rose cuttings,2006-05-27 14:59:44,1,0.000012
2962748,11355834,google rose cuttings,2006-05-27 14:59:44,1,0.000012
2962748,11355834,google rose cuttings,2006-05-27 14:59:44,1,0.000012
3001146,13263098,google video,2006-05-28 13:41:42,136,0.001625
3011786,13897025,google kentucky fried chicken coleslaw,2006-04-17 19:17:05,1,0.000012
3011786,13897025,google kentucky fried chicken coleslaw,2006-04-17 19:17:05,1,0.000012
3045140,16395379,google earth,2006-04-02 15:29:53,1317,0.015739
3048985,16734384,google yellow pages,2006-04-07 12:41:05,8,0.000096
3060198,17705824,google moon,2006-03-30 21:25:22,8,0.000096
3083883,20926995,google search,2006-04-21 11:18:11,939,0.011222
3100526,23302950,google search,2006-05-08 00:37:35,939,0.011222
3257184,848662,google search,2006-05-28 12:24:16,939,0.011222
3322865,1586319,google home page,2006-05-29 16:40:59,9,0.000108
3345059,1860516,google images,2006-05-30 14:01:07,310,0.003705
3350712,1925431,google maps,2006-05-30 10:06:43,634,0.007577
3428329,2860957,google search,2006-05-27 08:25:56,939,0.011222
3435880,2950786,google free nursing information,2006-05-30 23:48:57,1,0.000012
3496039,3620792,google earth,2006-04-04 20:10:31,1317,0.015739
3613813,5710093,google search,2006-04-23 20:07:56,939,0.011222
3779912,10539886,googles,2006-05-16 14:21:40,711,0.008497
3779912,10539886,googles,2006-05-16 14:21:40,711,0.008497
3799230,11427203,google mail theft penalty,2006-05-23 12:53:52,1,0.000012
3814881,12190957,google mail,2006-04-10 09:00:30,27,0.000323
3814881,12190957,google mail,2006-04-10 09:00:30,27,0.000323
3877370,16348185,google earth,2006-05-08 18:48:37,1317,0.015739
3880248,16582516,google car parts,2006-05-24 23:07:18,1,0.000012
3903788,18888422,google science kids oil spills,2006-05-23 15:01:25,1,0.000012
3919196,21160280,google search,2006-05-30 20:54:55,939,0.011222

In [75]:
# set the mod - 𝑀𝑜𝑑(𝐶𝑄,𝑞′)
sessions_count = candidate_queries.groupby('Query')['Query'].count().astype(object)

#query_counts_sessions = query_filters.groupby('Query')['Id'].nunique()

#query_results = query_results.join(query_counts_sessions, on='Query', lsuffix='_text').rename(columns={'Id': 'SessionCount', 'Id_text': 'Id'})
query_results = query_results.join(sessions_count, on='Query', lsuffix='_text').rename(columns={'Query': 'CountInSession', 'Query_text': 'Query'})
# TODO: check if len(candidate_queries) is the correct number to use based on "the total number of sessions in QL in which q’ appears. " 
query_results['Mod'] = query_results['CountInSession'] / len(candidate_queries) 
query_results

,UserId,Query,QueryTime,Count,Freq,CountInSession,Mod
21635,222187,google search,2006-04-02 10:42:58,939,0.011222,16,0.148148
30747,324779,google information about people,2006-05-09 20:48:31,1,0.000012,1,0.00925926
49868,533611,google zip code,2006-05-30 21:55:10,1,0.000012,1,0.00925926
146535,1654628,google search,2006-05-18 01:43:35,939,0.011222,16,0.148148
328367,3678892,google maps,2006-03-27 20:27:41,634,0.007577,5,0.0462963
334802,3807683,google images,2006-05-19 15:12:39,310,0.003705,2,0.0185185
374973,4539882,google better business bureau,2006-05-16 22:42:00,2,0.000024,1,0.00925926
397458,4977135,google white pages,2006-03-02 15:56:16,18,0.000215,1,0.00925926
406599,5134637,google toolbar,2006-04-23 19:14:47,18,0.000215,2,0.0185185
452099,6094698,google search engine,2006-05-23 18:48:02,43,0.000514,5,0.0462963
452099,6094698,google search engine,2006-05-23 18:48:02,43,0.000514,5,0.0462963
452099,6094698,google search engine,2006-05-23 18:48:02,43,0.000514,5,0.0462963
452099,6094698,google search engine,2006-05-23 18:48:02,43,0.000514,5,0.0462963
483718,6879365,google maps,2006-05-24 17:39:41,634,0.007577,5,0.0462963
561393,9171999,google search,2006-03-18 12:37:49,939,0.011222,16,0.148148
621044,11597025,google toolbar,2006-03-25 14:16:46,18,0.000215,2,0.0185185
677957,14862064,google airlines,2006-03-14 17:22:04,1,0.000012,2,0.0185185
677957,14862064,google airlines,2006-03-14 17:22:04,1,0.000012,2,0.0185185
689315,15672402,google find this person,2006-03-31 09:11:16,2,0.000024,1,0.00925926
689562,15692775,google graph satellite images,2006-05-13 15:50:58,1,0.000012,1,0.00925926
693869,16041727,google earth,2006-05-06 21:16:41,1317,0.015739,13,0.12037
719178,18198048,google fundraisers,2006-04-28 13:53:50,1,0.000012,4,0.037037
719178,18198048,google fundraisers,2006-04-28 13:53:50,1,0.000012,4,0.037037
719178,18198048,google fundraisers,2006-04-28 13:53:50,1,0.000012,4,0.037037
719178,18198048,google fundraisers,2006-04-28 13:53:50,1,0.000012,4,0.037037
734923,20517981,google crafts,2006-04-14 22:40:08,1,0.000012,1,0.00925926
745327,22276418,google image,2006-05-10 00:14:05,99,0.001183,1,0.00925926
745422,22297289,google screen savers,2006-05-27 20:49:20,1,0.000012,1,0.00925926
761489,24736405,google home page,2006-05-28 19:50:21,9,0.000108,2,0.0185185
1015258,2800720,google map,2006-05-18 10:31:06,239,0.002856,2,0.0185185
...,...,...,...,...,...,...,...
2881410,8413275,google search,2006-04-24 20:04:02,939,0.011222,16,0.148148
2962748,11355834,google rose cuttings,2006-05-27 14:59:44,1,0.000012,4,0.037037
2962748,11355834,google rose cuttings,2006-05-27 14:59:44,1,0.000012,4,0.037037
2962748,11355834,google rose cuttings,2006-05-27 14:59:44,1,0.000012,4,0.037037
2962748,11355834,google rose cuttings,2006-05-27 14:59:44,1,0.000012,4,0.037037
3001146,13263098,google video,2006-05-28 13:41:42,136,0.001625,1,0.00925926
3011786,13897025,google kentucky fried chicken coleslaw,2006-04-17 19:17:05,1,0.000012,2,0.0185185
3011786,13897025,google kentucky fried chicken coleslaw,2006-04-17 19:17:05,1,0.000012,2,0.0185185
3045140,16395379,google earth,2006-04-02 15:29:53,1317,0.015739,13,0.12037
3048985,16734384,google yellow pages,2006-04-07 12:41:05,8,0.000096,1,0.00925926
3060198,17705824,google moon,2006-03-30 21:25:22,8,0.000096,1,0.00925926
3083883,20926995,google search,2006-04-21 11:18:11,939,0.011222,16,0.148148
3100526,23302950,google search,2006-05-08 00:37:35,939,0.011222,16,0.148148
3257184,848662,google search,2006-05-28 12:24:16,939,0.011222,16,0.148148
3322865,1586319,google home page,2006-05-29 16:40:59,9,0.000108,2,0.0185185
3345059,1860516,google images,2006-05-30 14:01:07,310,0.003705,2,0.0185185
3350712,1925431,google maps,2006-05-30 10:06:43,634,0.007577,5,0.0462963
3428329,2860957,google search,2006-05-27 08:25:56,939,0.011222,16,0.148148
3435880,2950786,google free nursing information,2006-05-30 23:48:57,1,0.000012,1,0.00925926
3496039,3620792,google earth,2006-04-04 20:10:31,1317,0.015739,13,0.12037
3613813,5710093,google search,2006-04-23 20:07:56,939,0.011222,16,0.148148
3779912,10539886,googles,2006-05-16 14:21:40,711,0.008497,5,0.0462963
3779912,10539886,googles,2006-05-16 14:21:40,711,0.008497,5,0.0462963
3799230,11427203,google mail theft penalty,2006-05-23 12:53:52,1,0.000012,1,0.00925926
3814881,12190957,google mail,2006-04-10 09:00:30,27,0.000323,2,0.0185185
3814881,12190957,google mail,2006-04-10 09:00:30,27,0.000323,2,0.0185185
3877370,16348185,google earth,2006-05-08 18:48:37,1317,0.015739,13,0.12037
3880248,16582516,google car parts,2006-05-24 23:07:18,1,0.000012,1,0.00925926
3903788,18888422,google science kids oil spills,2006-05-23 15:01:25,1,0.000012,1,0.00925926
3919196,21160280,google search,2006-05-30 20:54:55,939,0.011222,16,0.148148

In [24]:
# set the time - 𝑇𝑖𝑚𝑒(𝐶𝑄, 𝑞′)
#convert to datetime
query_results['QueryDateTime'] = pd.to_datetime(query_results['QueryTime'], format='%Y-%m-%d %H:%M:%S')
all_queries_max_date = query_results.groupby('Query')['QueryDateTime'].max()
query_results = query_results.join(all_queries_max_date, on='Query', lsuffix='_text').rename(columns={'QueryDateTime': 'MaxDateBySession'})
query_results = query_results.drop(columns=['QueryDateTime_text'])
query_results['Time'] = (pd.to_datetime('today') - query_results['MaxDateBySession']) / np.timedelta64(1, 'h')

           UserId             Query            QueryTime
1843957   3324224  google addresses  2006-05-19 12:38:35
2845762   7402440  google addresses  2006-05-20 13:20:54
2845764   7402440  google addresses  2006-05-20 13:37:03
2845767   7402440  google addresses  2006-05-20 13:42:46
2993602  12861248  google addresses  2006-05-28 12:26:49

In [49]:
logs[logs['Query'].isin(candidate_queries['Query'])].groupby('Query')['Query'].count()

Query
google acting                                1
google addresses                             5
google airlines                              1
google better business bureau                2
google blue book value                       1
google car insurance                         2
google car parts                             1
google confederacy of dunces review          2
google crafts                                1
google earth                              1317
google failure                               4
google find this person                      2
google free nursing information              1
google free xxx                              2
google fundraisers                           1
google games                                58
google goose down comforters                 1
google graph satellite images                1
google home page                             9
google honda                                 1
google image                                99
google images                              310
google information about people              1
google italia                               25
google kentucky fried chicken coleslaw       1
google mail                                 27
google mail theft penalty                    1
google map                                 239
google maps                                634
google moon                                  8
google movies                               10
google muskogee central high school          1
google photos                                5
google reciprocal dating                     3
google rose cuttings                         1
google science kids oil spills               1
google screen savers                         1
google search                              939
google search engine                        43
google toolbar                              18
google video                               136
google weather                              14
google white pages                          18
google yellow pages                          8
google zip code                              1
googles                                    711
Name: Query, dtype: int64

In [43]:
logs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3942354 entries, 0 to 3942353
Data columns (total 3 columns):
UserId       int64
Query        object
QueryTime    object
dtypes: int64(1), object(2)
memory usage: 90.2+ MB

In [50]:
#logs['Query'] = logs['Query'].astype(object)
#candidate_queries['Query'] = candidate_queries['Query'].astype(object)

#logs.join(candidate_queries, on='Query', lsuffix='_text').groupby('Query')['Query'].count()
logs[logs['Query'].isin(candidate_queries['Query'])].groupby('Query')['Query'].count()

Query
google acting                                1
google addresses                             5
google airlines                              1
google better business bureau                2
google blue book value                       1
google car insurance                         2
google car parts                             1
google confederacy of dunces review          2
google crafts                                1
google earth                              1317
google failure                               4
google find this person                      2
google free nursing information              1
google free xxx                              2
google fundraisers                           1
google games                                58
google goose down comforters                 1
google graph satellite images                1
google home page                             9
google honda                                 1
google image                                99
google images                              310
google information about people              1
google italia                               25
google kentucky fried chicken coleslaw       1
google mail                                 27
google mail theft penalty                    1
google map                                 239
google maps                                634
google moon                                  8
google movies                               10
google muskogee central high school          1
google photos                                5
google reciprocal dating                     3
google rose cuttings                         1
google science kids oil spills               1
google screen savers                         1
google search                              939
google search engine                        43
google toolbar                              18
google video                               136
google weather                              14
google white pages                          18
google yellow pages                          8
google zip code                              1
googles                                    711
Name: Query, dtype: int64

In [22]:
query_counts = candidate_queries.groupby('Query')['Query'].count()
query_counts

Query
google acting                              1
google addresses                           3
google airlines                            2
google better business bureau              1
google blue book value                     1
google car insurance                       2
google car parts                           1
google confederacy of dunces review        1
google crafts                              1
google earth                              13
google failure                             1
google find this person                    1
google free nursing information            1
google free xxx                            1
google fundraisers                         4
google games                               1
google goose down comforters               1
google graph satellite images              1
google home page                           2
google honda                               1
google image                               1
google images                              2
google information about people            1
google italia                              6
google kentucky fried chicken coleslaw     2
google mail                                2
google mail theft penalty                  1
google map                                 2
google maps                                5
google moon                                1
google movies                              2
google muskogee central high school        2
google photos                              1
google reciprocal dating                   1
google rose cuttings                       4
google science kids oil spills             1
google screen savers                       1
google search                             16
google search engine                       5
google toolbar                             2
google video                               1
google weather                             1
google white pages                         1
google yellow pages                        1
google zip code                            1
googles                                    5
Name: Query, dtype: int64

In [ ]:





# set the min values
min_freq = query_results['Freq'].min()
min_mod = query_results['Mod'].min()
min_time = query_results['Time'].min()

query_results['Score'] = (query_results['Freq'] + query_results['Mod'] + query_results['Time']) / 1 - (min_freq + min_mod + min_time)

query_results.sort_values('Score', ascending=False)