Let's try to load the query logs

In [2]:
import pandas as pd
import numpy as np
import datetime as dt
from os import path

In [2]:
# steps to create a unified logs file.
def create_unified_log():
    if (not path.exists('data/logs.csv')):
        logs1 = pd.read_csv('data/logs/Clean-Data-01.txt', sep='\t')
        logs2 = pd.read_csv('data/logs/Clean-Data-02.txt', sep='\t')
        logs3 = pd.read_csv('data/logs/Clean-Data-03.txt', sep='\t')
        logs4 = pd.read_csv('data/logs/Clean-Data-04.txt', sep='\t')
        logs5 = pd.read_csv('data/logs/Clean-Data-05.txt', sep='\t')
        frames = [logs1, logs2, logs3, logs4, logs5]
        logs = pd.concat(frames) 
        # AnonID is not a unique column, so it would not be a good idea to make it an index
        #logs['AnonID'].nunique() #238,544
        #len(logs['AnonID']) # 394,2354

        # let's save it to a csv file
        logs.to_csv('data/logs.csv', index=False)
create_unified_log()

In [3]:
logs = pd.read_csv('data/logs.csv')
logs['Query'] = logs['Query'].str.strip()
logs = logs.rename(columns={'AnonID': 'UserId'})
logs['QueryTime'] = pd.to_datetime(logs['QueryTime'], format='%Y-%m-%d %H:%M:%S')
logs.head()
# 3,942,354 queries

   UserId                     Query           QueryTime
0     142  merit release appearance 2006-04-22 23:51:18
1     217                   lottery 2006-03-01 11:58:51
2     217                   lottery 2006-03-27 14:10:38
3     217                   vietnam 2006-05-22 17:43:42
4     217                   vietnam 2006-05-22 18:03:24

In [4]:
# get the longest session
'''
current_user = logs.head().iloc(0)[0]['UserId']
current_time = logs.head().iloc(0)[0]['QueryTime']
max_session_time = 0
for index, row in logs.iterrows():
    user_id = row[0]
    q_time = row[2]
    if current_user_id != user_id:
        if index-1 >= 0:
            dif_time = (logs.loc[index-1]['QueryTime'] - q_time).total_seconds()
            if (dif_time > max_session_time):
                max_session_time = dif_time
            current_user_id = user_id
            current_time = q_time
max_session_time
'''
max_session_time = 7943593  # hard code it to improve performance

In [5]:
# set the maximum frequency of occurrence of any query in QL
max_frequency = logs.groupby('Query').count()[['UserId']].sort_values('UserId', ascending=False).iloc(0)[0][0]
#max_frequency = 83677 # hard code it to improve performance
#max_frequency = logs.groupby('Query').count()
max_frequency

83677

In [6]:
# set query
query = 'california'

In [7]:
# gets a subset from the query
queries_equal_to_q = logs[logs['Query'] == query]
arr_unique_sessions_queries = []
current_user_id = 0
# get the unique sessions for the query because users could search 2 or more times the same query immediately in the same session.
for index, row in queries_equal_to_q.iterrows():
    user_id = row[0]
    if current_user_id != user_id:
        arr_unique_sessions_queries.append(row)
        current_user_id = user_id
queries_equal_to_q = pd.DataFrame(arr_unique_sessions_queries)
queries_equal_to_q

           UserId       Query           QueryTime
387          3839  california 2006-03-27 18:31:02
53605      570685  california 2006-03-18 18:50:06
91499      971707  california 2006-03-25 13:20:53
91700      973314  california 2006-04-25 11:10:32
122507    1357627  california 2006-05-21 23:41:43
144221    1616313  california 2006-04-07 13:38:25
161726    1803673  california 2006-03-22 11:09:04
167442    1871400  california 2006-03-16 22:16:35
195998    2191190  california 2006-03-26 20:44:27
209276    2325100  california 2006-05-25 23:51:37
224903    2519730  california 2006-04-12 21:01:16
269203    2979105  california 2006-04-30 13:53:46
277814    3063904  california 2006-03-09 12:40:30
279516    3080625  california 2006-03-26 16:06:40
283418    3133505  california 2006-05-07 13:54:41
287143    3167786  california 2006-03-13 04:03:04
291918    3209577  california 2006-04-25 17:21:02
310283    3446050  california 2006-03-14 22:23:07
323031    3597173  california 2006-04-02 15:25:04
328284    3675287  california 2006-03-05 10:57:28
370298    4445912  california 2006-05-01 08:56:17
376789    4571546  california 2006-03-14 18:39:05
377821    4611156  california 2006-04-17 18:37:55
401574    5060550  california 2006-04-16 17:52:47
409237    5188136  california 2006-04-29 00:02:09
419488    5362016  california 2006-03-21 14:33:23
420163    5375070  california 2006-04-24 19:37:02
426920    5529764  california 2006-03-06 15:19:57
456128    6180590  california 2006-03-29 00:04:12
469649    6481463  california 2006-03-22 21:54:41
...           ...         ...                 ...
3380411   2314870  california 2006-05-03 19:51:59
3447673   3096095  california 2006-03-08 22:20:26
3447701   3096251  california 2006-03-30 01:41:13
3506760   3806018  california 2006-05-09 21:24:15
3536636   4297433  california 2006-05-11 21:18:40
3541779   4366832  california 2006-05-10 12:16:13
3552482   4574212  california 2006-05-16 14:49:08
3556373   4643965  california 2006-04-03 12:51:46
3660837   6829094  california 2006-05-07 19:16:05
3684891   7402118  california 2006-04-11 14:27:56
3696387   7754038  california 2006-04-30 23:42:30
3721924   8509728  california 2006-04-06 19:19:47
3725629   8617455  california 2006-05-21 21:46:34
3733907   8888312  california 2006-05-11 19:20:09
3734359   8898807  california 2006-03-05 19:14:37
3744602   9255917  california 2006-03-05 20:25:59
3795350  11221390  california 2006-03-11 22:18:54
3813363  12129036  california 2006-04-16 13:18:21
3819923  12458373  california 2006-03-28 14:51:18
3822269  12590007  california 2006-03-14 13:00:38
3822861  12611885  california 2006-05-18 13:07:25
3823620  12648929  california 2006-04-18 17:32:49
3853903  14527948  california 2006-03-27 12:12:37
3858715  14905457  california 2006-04-11 21:53:30
3865591  15421645  california 2006-05-07 17:55:31
3866028  15459106  california 2006-03-25 11:37:34
3877694  16372047  california 2006-05-09 02:14:39
3896020  17959888  california 2006-04-08 00:17:26
3898080  18125627  california 2006-03-30 01:32:30
3899277  18221192  california 2006-05-20 17:08:35

[156 rows x 3 columns]

In [8]:
# Get query candidates for suggestions, the ones which in the same session changed from query text to query text + something else
arr_candidate_queries = []
time_differences = []
# loop through queries_equal_to_q to get the real candidates 
for index, row in queries_equal_to_q.iterrows():
    user_id = row[0]
    query = row[1]
    q_time = row[2]
    current_index = index + 1
    current_user_id = logs.loc[current_index, 'UserId']
    has_next = False
    is_invalid = False
    while (user_id == current_user_id):
        # check for current query text 
        current_query = logs.loc[current_index, 'Query']
        if (not pd.isna(current_query) and current_query.startswith(query) and len(current_query) > len(query)):
            arr_candidate_queries.append(logs.loc[current_index])
            time_differences.append((logs.loc[current_index]['QueryTime'] - q_time).total_seconds())
        # move to next row    
        current_index += 1
        current_user_id = logs.loc[current_index, 'UserId']

candidate_queries = pd.DataFrame(arr_candidate_queries)
if len(candidate_queries) > 0:
    candidate_queries['Time_Dif'] =  time_differences
    candidate_queries = candidate_queries.join(candidate_queries.groupby('Query')['Time_Dif'].min(), on="Query", rsuffix="_Min")
    # only get the queries that have the min difference in time
    # and remove duplicated queries based on 'Query', 'Time_Dif'
    candidate_queries[candidate_queries['Time_Dif'] == candidate_queries['Time_Dif_Min']].drop_duplicates(subset=['Query', 'Time_Dif'])
    candidate_queries

In [9]:
# set the frequency - ð¹ð‘Ÿð‘’ð‘ž(ð¶ð‘„)
query_counts = logs[logs['Query'].isin(candidate_queries['Query'])].groupby('Query')['Query'].count()
query_results = candidate_queries.join(query_counts, on='Query', lsuffix='_text')
query_results = query_results.rename(columns={'Query': 'Count', 'Query_text': 'Query'})
query_results['Freq'] = query_results['Count'] / max_frequency

# set the mod - ð‘€ð‘œð‘‘(ð¶ð‘„,ð‘žâ€²)
sessions_count = candidate_queries.groupby('Query')['Query'].count().astype(object)
query_results = query_results.join(sessions_count, on='Query', lsuffix='_text').rename(columns={'Query': 'CountInSession', 'Query_text': 'Query'})
query_results['Mod'] = query_results['CountInSession'] / len(queries_equal_to_q) 

# set the time - ð‘‡ð‘–ð‘šð‘’(ð¶ð‘„, ð‘žâ€²)
query_results['Time'] = query_results['Time_Dif_Min'] / max_session_time

# set the min values
min_freq = query_results['Freq'].min()
min_mod = query_results['Mod'].min()
min_time = query_results['Time'].min()

# calculate scores and sort
query_results['Score'] = (query_results['Freq'] + query_results['Mod'] + query_results['Time']) / 1 - (min_freq + min_mod + min_time)
#query_results['Score'] = query_results['Score'].astype('float64')
query_results.sort_values('Score', ascending=False)

,UserId,Query,QueryTime,Time_Dif,Time_Dif_Min,Count,Freq,CountInSession,Mod,Time,Score
2459894,1502108,california assembly,2006-05-25 20:55:52,6927263.0,6927263.0,1,0.000012,1,0.00641026,0.872057,0.872055
2459841,1502108,california artist,2006-05-13 01:37:18,5820949.0,5820949.0,1,0.000012,1,0.00641026,0.732785,0.732783
2459834,1502108,california capitol,2006-05-13 00:28:59,5816850.0,5816850.0,1,0.000012,1,0.00641026,0.732269,0.732267
328304,3675287,california sunsets,2006-04-16 21:01:41,3665053.0,3665053.0,1,0.000012,1,0.00641026,0.461385,0.461383
2459746,1502108,california mansions,2006-04-13 20:07:02,3295533.0,3295533.0,3,0.000036,2,0.0128205,0.414867,0.421299
2459814,1502108,california mansions,2006-05-12 14:29:11,5780862.0,3295533.0,3,0.000036,2,0.0128205,0.414867,0.421299
2459678,1502108,california th district,2006-04-08 14:32:19,2843450.0,2843450.0,1,0.000012,1,0.00641026,0.357955,0.357953
2459670,1502108,california preparatory school,2006-04-08 12:26:59,2835930.0,2835930.0,1,0.000012,1,0.00641026,0.357008,0.357006
1437880,13944181,california weather forecast,2006-04-18 13:50:43,2251903.0,2251903.0,1,0.000012,1,0.00641026,0.283487,0.283485
1786896,2680717,california pictures,2006-04-23 19:39:50,2076513.0,2076513.0,3,0.000036,1,0.00641026,0.261407,0.261429
2029005,6665296,california ma,2006-05-14 11:53:45,1714525.0,1714525.0,1,0.000012,1,0.00641026,0.215837,0.215835
1409491,12418627,california guides travel,2006-04-29 02:17:31,1688954.0,1688954.0,1,0.000012,1,0.00641026,0.212618,0.212616
1409490,12418627,california guides help,2006-04-29 02:17:18,1688941.0,1688941.0,1,0.000012,1,0.00641026,0.212617,0.212615
2459593,1502108,california balls,2006-03-24 19:00:22,1563533.0,1563533.0,1,0.000012,1,0.00641026,0.196829,0.196827
3696395,7754038,california condos,2006-05-14 16:56:04,1185214.0,1185214.0,1,0.000012,1,0.00641026,0.149204,0.149202
3696393,7754038,california vacation rentals,2006-05-12 22:39:32,1033022.0,1033022.0,3,0.000036,1,0.00641026,0.130045,0.130067
3696392,7754038,california condo rentals,2006-05-11 19:40:59,935909.0,935909.0,1,0.000012,1,0.00641026,0.117819,0.117817
1523412,22876543,california places to visit,2006-05-14 12:30:31,851832.0,851832.0,1,0.000012,1,0.00641026,0.107235,0.107233
1523411,22876543,california water maps,2006-05-14 12:29:51,851792.0,851792.0,1,0.000012,1,0.00641026,0.107230,0.107228
1523410,22876543,california state maps,2006-05-14 12:28:45,851726.0,851726.0,1,0.000012,1,0.00641026,0.107222,0.10722
3149864,71845,california lottery,2006-04-07 17:05:59,151058.0,1911.0,669,0.007995,16,0.102564,0.000241,0.104375
3162283,71845,california lottery,2006-04-08 12:47:12,221931.0,1911.0,669,0.007995,16,0.102564,0.000241,0.104375
3136802,71845,california lottery,2006-04-06 19:13:39,72318.0,1911.0,669,0.007995,16,0.102564,0.000241,0.104375
3138947,71845,california lottery,2006-04-06 21:26:34,80293.0,1911.0,669,0.007995,16,0.102564,0.000241,0.104375
3149865,71845,california lottery,2006-04-07 17:06:00,151059.0,1911.0,669,0.007995,16,0.102564,0.000241,0.104375
3129133,71845,california lottery,2006-04-06 10:00:39,39138.0,1911.0,669,0.007995,16,0.102564,0.000241,0.104375
3177324,71845,california lottery,2006-04-09 10:15:52,299251.0,1911.0,669,0.007995,16,0.102564,0.000241,0.104375
3126916,71845,california lottery,2006-04-06 01:42:22,9241.0,1911.0,669,0.007995,16,0.102564,0.000241,0.104375
3126204,71845,california lottery,2006-04-06 00:43:15,5694.0,1911.0,669,0.007995,16,0.102564,0.000241,0.104375
3160263,71845,california lottery,2006-04-08 10:33:50,213929.0,1911.0,669,0.007995,16,0.102564,0.000241,0.104375
...,...,...,...,...,...,...,...,...,...,...,...
3795352,11221390,california weather,2006-03-12 00:54:40,9346.0,9346.0,17,0.000203,1,0.00641026,0.001177,0.00136574
377823,4611156,california regional map,2006-04-17 21:26:50,10135.0,10135.0,1,0.000012,1,0.00641026,0.001276,0.00127386
1523348,22876543,california famous people,2006-05-04 17:08:51,4532.0,4532.0,1,0.000012,1,0.00641026,0.000571,0.000568508
3125855,71845,california paycheck calculators,2006-04-06 00:21:41,4400.0,4400.0,1,0.000012,1,0.00641026,0.000554,0.000551891
161730,1803673,california department of rehabilitation and co...,2006-03-22 12:14:33,3929.0,3929.0,1,0.000012,1,0.00641026,0.000495,0.000492598
3125631,71845,california state sales tax charts,2006-04-06 00:10:24,3723.0,3723.0,1,0.000012,1,0.00641026,0.000469,0.000466665
3734365,8898807,california state population,2006-03-05 20:11:50,3433.0,3433.0,1,0.000012,1,0.00641026,0.000432,0.000430158
3125250,71845,california department of corrections and rehab...,2006-04-05 23:31:00,1359.0,1359.0,6,0.000072,1,0.00641026,0.000171,0.000228821
3380417,2314870,california state coastline miles,2006-05-03 20:21:43,1784.0,1784.0,1,0.000012,1,0.00641026,0.000225,0.000222569
3380416,2314870,california state rock,2006-05-03 20:13:59,1320.0,1320.0,1,0.000012,1,0.00641026,0.000166,0.000164157
3380415,2314870,california research,2006-05-03 20:13:00,1261.0,1261.0,1,0.000012,1,0.00641026,0.000159,0.00015673
310284,3446050,california real estate,2006-03-14 22:23:29,22.0,22.0,11,0.000131,1,0.00641026,0.000003,0.000120262
2167874,11047777,california population,2006-05-30 15:03:32,126.0,126.0,8,0.000096,1,0.00641026,0.000016,9.75026e-05
2167876,11047777,california info,2006-05-30 15:09:25,479.0,479.0,1,0.000012,1,0.00641026,0.000060,5.8286e-05
277815,3063904,california sales tax,2006-03-09 12:40:46,16.0,16.0,5,0.000060,1,0.00641026,0.000002,4.78029e-05
912514,1705683,california history,2006-03-16 18:56:20,30.0,30.0,4,0.000048,1,0.00641026,0.000004,3.76146e-05
2167875,11047777,california main source of income,2006-05-30 15:06:08,282.0,282.0,1,0.000012,1,0.00641026,0.000036,3.34861e-05
2764614,5607373,california corporation,2006-04-21 18:37:51,87.0,87.0,3,0.000036,1,0.00641026,0.000011,3.28395e-05
1434312,13729663,california immigration,2006-04-10 17:52:34,51.0,51.0,3,0.000036,1,0.00641026,0.000006,2.83075e-05
144222,1616313,california earthquake,2006-04-07 13:38:58,33.0,33.0,3,0.000036,1,0.00641026,0.000004,2.60415e-05
3506763,3806018,california breast implants,2006-05-09 21:26:26,131.0,131.0,1,0.000012,1,0.00641026,0.000016,1.44771e-05
1318492,8847875,california oranges,2006-04-02 18:52:26,103.0,103.0,1,0.000012,1,0.00641026,0.000013,1.09522e-05
2025892,6593963,california department of human services,2006-05-03 20:44:58,78.0,78.0,1,0.000012,1,0.00641026,0.000010,7.80503e-06
2656302,3640810,california pics,2006-03-05 19:21:32,71.0,71.0,1,0.000012,1,0.00641026,0.000009,6.92382e-06
1668671,1369963,california santa,2006-04-05 16:40:55,62.0,62.0,1,0.000012,1,0.00641026,0.000008,5.79083e-06
2860498,7805144,california department of personnel administration,2006-05-10 23:05:35,45.0,45.0,1,0.000012,1,0.00641026,0.000006,3.65074e-06
684329,15364404,california trust attorneys,2006-03-29 18:04:47,40.0,40.0,1,0.000012,1,0.00641026,0.000005,3.0213e-06
2764613,5607373,california city council,2006-04-21 18:37:01,37.0,37.0,1,0.000012,1,0.00641026,0.000005,2.64364e-06
1424517,13164857,california treasurer department of unclaimed f...,2006-04-18 13:38:57,32.0,32.0,1,0.000012,1,0.00641026,0.000004,2.0142e-06
3744603,9255917,california san jose,2006-03-05 20:26:24,25.0,25.0,1,0.000012,1,0.00641026,0.000003,1.13299e-06

In [15]:
query_results.sort_values('Score', ascending=False).head(10)['Query'].tolist()

['california assembly',
 'california artist',
 'california capitol',
 'california sunsets',
 'california mansions',
 'california mansions',
 'california th district',
 'california preparatory school',
 'california weather forecast',
 'california pictures']